* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
}

.tapbar-container {
    display: flex;
    justify-content: center;
}

.tapbar {
    list-style: none;
    width: 100%;
    max-width: 1080px;
    margin: 24px;
    display: flex;
    justify-content: center;
    border-radius: 24px;
    background-color: #222831;
    box-shadow: 0px 2px 6px #222831;
}
.tapbar-element {
    font-size: 16px;
    width: 100%;
    padding: 16px;
    text-align: center;
    font-weight: 700;
    color: white;
    cursor: pointer;
    border-radius: 24px;
}
.tapbar-element:hover {
    background-color: #EEEEEE;
    color: #222831;
}
.active {
    background-color: #EEEEEE;
    color: #222831;
}